div{
    width: 200px;
    height: 200px;
    background-color: #ea43ad;
    border: 4px solid black;
    border-radius: 20%;
    padding: 20px;
    margin: 20px;
}

h1{
    width: 100px;
    background-color: pink;
    display: inline;
}

span{
    background-color: skyblue;
    border: 1px solid grey;
    display: block;
}