<!DOCTYPE html>
<html>
    <head>
        <title>Add product</title>
    </head>
    <body>
        <form action="/products" method="POST">
            <div>
                <label for="name">Enter Product name:</label>
                <input type="text" name="name" id="name" placeholder="name" />
            </div>
            <div>
                <label for="price">Enter price in Rs:</label>
                <input type="number" name="price" id="price">
            </div>
            <div>
                <label for="category">Enter Category:</label>
                <select name="category" id="category">
                    <% for(let category of categories){ %>
                        <option value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </div>
            <button>Submit</button>
        </form>
    </body>
</html>