<!DOCTYPE html>
<html>
    <head>
        <title>Batsmen</title>
    </head>
    <body>
        <h1><%= batsmen %></h1>
        <ul>
        <% for(let i=0;i<batsmen.length;i++){ %>
            <li><%= batsmen[i] %></li>
        <% } %>
        </ul>
    </body>
</html>