<!DOCTYPE html>
<html>
    <head>
        <title>Secret</title>
    </head>
    <body>
        This is my Secret
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </body>
</html>